// =======================================================
// global styles
// =======================================================

* {
    box-sizing: border-box;
}

body {
    background-color: @col-global-bg;
}

#app {
    max-width: @desktop-width;
    margin: 0 auto;
}