// dimensions
@elements-border-radius: 5px;
@elements-margin-mobile: 5px;
@elements-margin-desktop: 10px;
@elements-padding-mobile: 4px;
@form-element-height: 28px;


// colors
@primary-col: #9b59b6;
@secondary-col: #8e44ad;
@global-col-bg: #ecf0f1;
@global-col-bg-secondary: #bdc3c7;

@global-col-white: #fff;
@global-col-black: #000;