// media queries
@tablet-width: 420px;
@desktop-width: 800px;


// dimensions
@elements-border-radius: 5px;
@elements-margin-mobile: 5px;
@elements-margin-desktop: 10px;
@elements-padding-mobile: 4px;
@form-element-height: 30px;


// font
@font-family-global: "Verdana", "Arial", sans-serif;