// =======================================================
// Button Vue component
// =======================================================

// Component variables

.c-button {
    display: inline-block;
    margin: 0 @elements-margin-mobile 0 @elements-margin-mobile;

    button {
        display: block; // fix bottom space added by chrome
        min-width: @form-element-height;
        height: @form-element-height;
        background-color: @col-btn-bg;
        color: @col-global-white;
        border: 0 none;
        border-radius: @elements-border-radius;

        &:hover {
            cursor: pointer;
            background-color: @col-btn-bg-hover;
        }

        &:disabled {
            background-color: @col-btn-bg-disabled;

            &:hover {
                background-color: @col-btn-bg-disabled;
                cursor: not-allowed;
            }
        }
    }
}