* {
  box-sizing: border-box;
}
body {
  background-color: #ecf0f1;
  font-family: "Verdana", "Arial", sans-serif;
}
h1 {
  margin: 15px 0 15px 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #000;
  font-size: 1.8em;
  text-align: center;
}
input {
  font-family: "Verdana", "Arial", sans-serif;
}
#app {
  max-width: 800px;
  margin: 0 auto;
}
@media screen and (min-width: 800px) {
  h1 {
    margin: 20px 0 20px 0;
    padding-bottom: 20px;
  }
}
.c-button {
  display: inline-block;
  margin: 0 5px 0 5px;
}
.c-button button {
  min-width: 28px;
  height: 28px;
  background-color: #797979;
  color: #fff;
  border: 0 none;
  border-radius: 5px;
}
.c-button button:hover {
  cursor: pointer;
  background-color: #666666;
}
.c-button button:disabled {
  background-color: #b3b3b3;
}
.c-button button:disabled:hover {
  background-color: #b3b3b3;
  cursor: not-allowed;
}
.c-button.is-minus button {
  background-image: url("../assets/img/icons/btn-minus.svg");
}
.c-button.is-plus button {
  background-image: url("../assets/img/icons/btn-plus.svg");
}
.c-checkbox {
  width: 24px;
  height: 24px;
}
.c-checkbox .checkbox-container {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.c-checkbox .checkbox-container:hover input ~ .checkbox-decorator {
  background-color: #bdc3c7;
}
.c-checkbox .checkbox-container:hover input:checked ~ .checkbox-decorator {
  background-color: #8e44ad;
}
.c-checkbox input {
  position: absolute;
  opacity: 0;
  margin: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.c-checkbox input:checked ~ .checkbox-decorator {
  margin: 0;
  background-color: #9b59b6;
}
.c-checkbox .checkbox-decorator {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  border: 2px solid #000;
  border-radius: 50%;
  background-color: #fff;
}
@media screen and (min-width: 800px) {
  .c-checkbox .checkbox-container {
    width: 25px;
    height: 25px;
  }
  .c-checkbox .checkbox-decorator {
    height: 25px;
    width: 25px;
  }
}
.c-input {
  display: inline-block;
  margin: 0 5px 0 5px;
}
.c-input input {
  height: 28px;
  padding: 0 4px 0 4px;
  border: 2px solid #000;
  border-radius: 5px;
  text-align: center;
}
.c-input input::-webkit-outer-spin-button,
.c-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.c-input input[type=number] {
  -moz-appearance: textfield;
}
.c-input :read-only {
  border: 0 none;
  background-color: transparent;
}
.c-time-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
}
.c-time-row.is-not-affecting-calculation .c-input input {
  color: #797979;
}
.c-time-row .time-row-controller {
  display: flex;
  justify-content: flex-end;
  min-width: 38px;
}
.c-time-row .time-row-input-field {
  width: 100%;
  text-align: center;
}
.c-time-row .time-row-controller-heading {
  margin: 0 auto;
}
.c-time-row .time-row-activity-switch {
  min-width: 40px;
  text-align: center;
}
.c-time-row .time-row-activity-switch .c-checkbox {
  margin: 0 auto;
}
.c-time-row .c-input input {
  width: 100%;
}
.m-average-time .average-time-calc-result {
  display: flex;
  justify-content: space-between;
  margin: 10px 5px;
}
.m-average-time .average-time-result-value {
  text-align: right;
}
.m-average-time .average-time-add-time-row {
  display: flex;
  justify-content: center;
}
.m-average-time .c-button.button-row-controller button {
  background-color: #9b59b6;
  background-position: center center;
}
.m-average-time .c-button.button-row-controller button:hover {
  background-color: #8e44ad;
}
.m-average-time .c-button.button-row-controller button:disabled {
  background-color: #b3b3b3;
}
.m-average-time .c-button.button-row-controller button:disabled:hover {
  background-color: #b3b3b3;
}
@media screen and (min-width: 420px) {
  .m-average-time .average-time-calc-result {
    margin: 20px 10px;
  }
}
