// Button Vue component

// MODIFICATORS
// --------------------------------------------------
// .is-minus        small button indicating decrementing function
// .is-plus         small button indicating incrementing function


// Component variables
@c-btn-row-controller-col-bg: @col-global-primary;
@c-btn-row-controller-col-bg-hover: @col-global-secondary;


.c-button {
    display: inline-block;
    margin: 0 @elements-margin-mobile 0 @elements-margin-mobile;

    button {
        min-width: @form-element-height;
        height: @form-element-height;
        color: @col-global-white;
        border-color: @c-btn-row-controller-col-bg;
        border-radius: @elements-border-radius;
    }

    &.button-row-controller {
        button {
            background-color: @c-btn-row-controller-col-bg;
            background-position: center center;
        }
    }

    &.is-minus {
        button {
            background-image: url("../assets/img/icons/btn-minus.svg");
        }
    }

    &.is-plus {
        button {
            background-image: url("../assets/img/icons/btn-plus.svg");
        }
    }

    &:hover {
        button {
            cursor: pointer;
            background-color: @c-btn-row-controller-col-bg-hover;
        }
    }
}
