// Input Vue component

.c-input {
    display: inline-block;
    margin: 0 @elements-margin-mobile 0 @elements-margin-mobile;

    input {
        height: @form-element-height;
        padding: 0 @elements-padding-mobile 0 @elements-padding-mobile;
        border: 1px solid @col-global-black;
        border-radius: @elements-border-radius;
        text-align: center;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        &[type=number] {
            -moz-appearance:textfield;
        }
    }

    :read-only {
        border: 0 none;
        background-color: transparent;
    }
}