// =======================================================
// Stopwatch vue component
// =======================================================

// Variables
@stopwatch-values-wrapper-margin-mobile: 4 * @elements-margin-mobile;
@stopwatch-values-wrapper-margin-desktop: 4 * @elements-margin-desktop;

// Colors

.c-stopwatch {
    .stopwatch-values-wrapper {
        margin: @stopwatch-values-wrapper-margin-mobile 0;
    }

    .stopwatch-instruction {
        &.is-laptop {
            display: none;
        }
    }
}

// Media queries
// =======================================================
// > 800 px
@media screen and (min-width: @laptop-width) {
    .c-stopwatch {
        .stopwatch-values-wrapper {
            margin: @stopwatch-values-wrapper-margin-desktop 0;
        }

        .stopwatch-instruction {
            &.is-mobile {
                display: none;
            }

            &.is-laptop {
                display: block;
            }
        }
    }
}