// =======================================================
// Stopwatch vue component
// =======================================================

// Variables
@stopwatch-values-wrapper-margin-mobile: 4 * @elements-margin-mobile;
@stopwatch-values-wrapper-margin-desktop: 4 * @elements-margin-desktop;

// Colors

.c-stopwatch {
    .stopwatch-values-wrapper {
        flex: 0 0 100%;
        margin: @stopwatch-values-wrapper-margin-mobile 0;
        text-align: center;
    }
}


// Media queries
// =======================================================
@media screen and (min-width: @desktop-width) {
    .c-stopwatch {
        .stopwatch-values-wrapper {
            margin: @stopwatch-values-wrapper-margin-desktop 0;
        }
    }
}