// =======================================================
// Time Row vue component
// =======================================================

.c-time-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2 * @elements-margin-mobile;

    .time-row-controller {
        display: flex;
        justify-content: flex-end;
        min-width: (@form-element-height + 2 * @elements-margin-mobile);
    }

    .time-row-input-field {
        width: 100%;
        text-align: center;
    }

    .time-row-controller-heading {
        margin: 0 auto;
    }

    .time-row-activity-switch {
        min-width: 40px;
        text-align: center;

        .c-checkbox {
            margin: 0 auto;
        }
    }

    .c-input {
        input {
            width: 100%;
        }
    }
}